# Dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment & Sentry secrets
.env*.local
.env.sentry-build-plugin
sentry-wizard-installation-error-*.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
env.